.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  position: relative;
}

.video-player {
  width: 800px;
  height: 450px;
}

.thumbnails-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  margin-top: 10px;
}

.thumbnail {
  width: 100px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.circleborder
{
    width: 640px;
    height: 70px;
    
    overflow: auto;
    display: flex;
   
}
.divcircle{
  width: 100px;
  border-radius: 50%;
 
}
.divcircle  img{
  border-radius: 50%;
}
